@{
    ViewData["Title"] = "Definately Amazon, don't even worry about it";
}
@model BookListViewModels

<h1>This is totally Amazon. Please enter your credit card info</h1>

@foreach (Book b in Model.Books)
{
    <partial name="BookLists" model="b" />

}

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" class="btn-group pull-right m-1"></div>

