<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TheWaterProject</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TheWaterProject.styles.css" asp-append-version="true" />
</head>
<body>
    @* header *@
    <div class="bg-dark text-white p-2">
        <span class="navbar-brand m-lg-2">Amazon. Yeah, Amazon</span>
    </div>
    @* side bar *@
    <div class="row m-1 p-1">
        <div class="col-3">The illustrius Professor Spencer Hilton proclaimed that we shall use this area forthwith for use with filtering. However, that time is not yet upon us, and, thus, this area shall remain, for the present moment, empty, excepting for the text which you are currently reading, which has, by this moment, gone on entirely too long and is probably no longer amusing. </div>

    
        @* body *@
    <div class="container col-9">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
